# ----------------------------------------------------
# THE INSIGHT HUB - ENVIRONMENT CONFIGURATION
# ----------------------------------------------------

# Port for local development
PORT=3000

# Environment Mode (production / development)
NODE_ENV=production

# MongoDB Atlas Cluster Connection String
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/insight-hub?retryWrites=true&w=majority
MONGODB_URI=

# Admin Master Password for Dashboard Login (Default: vape1098)
ADMIN_PASSWORD=vape1098
